
.idea
tmp
.env.override
*.exe
deploy/svelte
deploy/.env
deploy/.env.production
deploy/.env.override
*.fiber.gz
deploy/static
docker/
*.upx
**/*.upx
_tmpdb
.DS_Store
cache
docker-data
tmpdb
AuthKey_*.p8
upload

*.lzo
*.lz4