{
	debug
	#auto_https disable_redirects
	log {
		output stdout
		#level DEBUG
	}
	local_certs
}

127.0.0.1:443, 127.0.0.1:80, localhost:443, localhost:80, local.admin.hapstr.xyz:443, local.admin.hapstr.xyz:80 {
	handle /* {
		reverse_proxy 127.0.0.1:1234
	}
	#tls internal
}

# https://richj.co/caddy-v2-custom-404-error-pages/
