version: '3'

services:
  tarantool1:
    image: tarantool/tarantool:2.11.1
    # x.x.0 = alpha, x.x.1 = beta, x.x.2+ = stable, latest not always stable
    environment:
      TARANTOOL_USER_NAME: "userT"
      TARANTOOL_USER_PASSWORD: "passT"
      TT_READAHEAD: '1632000' # 10x
      TT_VINYL_MEMORY: '268435456' # 20x
      TT_VINYL_CACHE: '2684354560' # 20x
      TT_NET_MSG_MAX: '76800' # 100x
      TT_MEMTX_MEMORY: '268435456' # 1x
      TT_VINYL_PAGE_SIZE: '8192' # 1x
    volumes:
      - ./tmpdb/var_lib_tarantool:/var/lib/tarantool
    ports:
      - "3301:3301"

  clickhouse1:
    image: clickhouse/clickhouse-server:23.9.1.1854
    # previously: 23.4.2.11
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_USER: "userC"
      CLICKHOUSE_PASSWORD: "passC"
      CLICHOUSE_DB: "dbC"
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - ./tmpdb/var_lib_clickhouse:/var/lib/clickhouse

  mailhog1:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

#  docker-mailserver1:
#    image: ghcr.io/docker-mailserver/docker-mailserver:latest
#    hostname: mail.benalu.dev
#    ports:
#      - "25:25"
#      - "587:587"
#      - "465:465"
#    volumes:
#      - ./docker-data/dms/mail-data/:/var/mail/
#      - ./docker-data/dms/mail-state/:/var/mail-state/
#      - ./docker-data/dms/mail-logs/:/var/log/mail/
#      - ./docker-data/dms/config/:/tmp/docker-mailserver/
#      - /etc/localtime:/etc/localtime:ro
#      - /etc/letsencrypt:/etc/letsencrypt
#    environment:
#      - ENABLE_RSPAMD=1
#      - ENABLE_CLAMAV=1
#      - ENABLE_FAIL2BAN=1
#      - SSL_TYPE=letsencrypt
#      - PERMIT_DOCKER=network
#      - SPOOF_PROTECTION=0
#    cap_add:
#      - NET_ADMIN # For Fail2Ban to work
#    restart: always
