[Unit]
Description=Street Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure

User=kyz
Group=kyz

WorkingDirectory=/home/street

ExecStart=/home/street/start_street_web.sh
ExecStop=/usr/bin/killall street.exe

LimitNOFILE=2097152
LimitNPROC=65535

ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target